@import "~src/vars";
@import '~saturn-datepicker/theming';
@import "~src/style-component/navigation-bottom";
@import "~src/style-component/dialog";

html, body { 
    height: 100%; 

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }
    
    p {
        margin: 0;
    }
    
    .spacer {
        flex: 1;
    }
    
    .content {
        display: flex;
        margin: 20px 20px 5px;
        flex-direction: column;
        min-height: calc(100vh - 85px);

        @media only screen and (max-width: 599px) {  
            margin: 5px;
        }
    }
    
    svg.material-icons {
        height: 24px;
        width: auto;
    }
    
    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }
    
    .card svg.material-icons path {
        fill: #888;
    }
    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
    
    .card {
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: $white;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }
    
    .card-container .card:not(:last-child) {
        margin-right: 0;
    }

    .card.card-small {
        height: 16px;
        width: 168px;
    }
    
    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(black, 0.35);
    }
    
    .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: $dark-color;
    }
    
    .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }
    
    .card.card.highlight-card span {
        margin-left: 60px;
    }
    
    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }
    
    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }
    
    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
    

    .create-account{
        font-size : 12px;
        text-align: right;
        margin: 1rem 0;
    }
    
    .create-account-title{
        font-weight: bold;
    }

  
    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }
    
    footer a {
        display: flex;
        align-items: center;
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {
    
        .card-container > *:not(.circle-link) {
          width: 100%;
        }
    
        .card:not(.highlight-card) {
          height: 4rem;
          margin: 8px 0;
        }
    
        .card.highlight-card span {
          margin-left: 72px;
        }
    }

    .login-wrapper{
        height:100%;
    }
      
    .positronx{
        text-decoration:none;
        color:$white;
    }
      
    .box{
        position:relative;
        top:0;
        opacity:1;
        float:left;
        padding:60px 50px 40px 50px;
        width:100%;
        background:#fff;
        border-radius:10px;
        transform:scale(1);
        z-index:5;
        max-width:500px;
    }
      
    .box.back{
        transform:scale(.95);
        top:-20px;
        opacity:.8;
        z-index:-1;
    }
      
    .box:before{
        content:"";
        width:100%;
        height:30px;border-radius:10px;
        position:absolute;
        top:-10px;
        background:rgba(255, 255, 255, .6);
        left:0;
        transform:scale(.95);
        z-index:-1;
    }
      
    .login-wrapper .example-form{
        min-width:100%;
        max-width:300px;
        width:100%;
    }
      
    .login-wrapper .example-full-width,.login-wrapper .btn-block{
        width:100%;
    }
      
    .login-wrapper mat-card-header{
        text-align:center;
        width:100%;
        display:block;
        font-weight:700;
    }
      
    .login-wrapper mat-card-header mat-card-title{
        font-size:30px;
        margin:0;
    }
      
    .login-wrapper .mat-card{
        padding:40px;
        @media screen and (max-width: 767px) {
          padding:20px 20px 30px;
        }
    }
    
    .login-wrapper .mat-button{
        border:1px solid currentColor;
        line-height:54px;
        background: $color-success;
        color:$white;
    }
    
    .login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{
        padding:0.8375em 0;
    }
    
    .btn-block{
        margin-top: 1rem;
    }

    .mat-calendar-body-cell-content .mat-calendar-body-semi-selected, .mat-calendar-cell-semi-selected {
        background-color: $primary;
        color: $white;
        border-radius: 50%;
    }

    .info-snackbar {
        background: $color-info;
    }

    .success-snackbar {
        background: $color-success;
    }

    .error-snackbar {
        background: $color-alert;
    }

    .warn-snackbar {
        background: $color-warn;
    }

    .mat-simple-snackbar, .mat-simple-snackbar-action .mat-button-wrapper{
        color:$black;
        font-weight: bold;
    }
}
body { 
    margin: 0; 
    font-family: AvenirRoman,AvenirBook,Arial,Helvetica,sans-serif;
}
