@import "~src/vars";

.not-found {
  text-align: center;
  color: $black;
  padding-top: 2rem;
}

img {
  max-width: 26%;
  margin-bottom: 1em;
}

@media screen and (max-width: 425px) {
  img {
    max-width: 80%;
  }
}

.btn-back{
  background: $primary;
  margin: 1rem;
  color: $white;
}
